// Specific CSS for your home-page
.home-page {
  // text-align: center;
}

.section-head {
  margin: auto;
  
}

.new-task {
  height: 60vh;
  position: sticky;
  top: 0;
}

.sort-by {
  margin: 20px 0px 20px 0px;
}

// .sort-by {
//   height: 10vh;
//   position: sticky;
//   top: 0;
// }
