// Specific CSS for your home-page
.home-page {
  // text-align: center;
}

.new-task {
  height: 60vh;
  position: sticky;
  top: 0;
}

// .sort-by {
//   height: 10vh;
//   position: sticky;
//   top: 0;
// }
