.task-cards {
  width: 80%;
  padding: 10px;
  margin: auto;

  .task-card {
    padding: 40px 20px 40px 20px;
    margin: 20px;
    display: flex;
    // flex-direction: row;
    justify-content: space-between;
  }
  .task-name {
    display: flex;
    flex-direction: column;
  }
}
